# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
apps/mobile/dist
apps/mobile/android/.gradle
apps/mobile/android/build
apps/mobile/android/app/build
apps/mobile/android/app/src/main/assets/public
dist-ssr
release
release/desktop
*.local
*.apk

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
